doctype html
html
    head
        meta(charset="utf-8")
        title Qunit Unit test
        link(rel="stylesheet" href="../bower_components/qunit/qunit/qunit.css")
    body
        div#qunit
        div#qunit-fixture

        script(src="../bower_components/qunit/qunit/qunit.js")
        script(src="../bower_components/requirejs/require.js")
        script.
            requirejs.config({
                baseUrl: '../',
                paths  : {
                    'jquery'    : 'bower_components/jquery/dist/jquery',
                    'cjs'       : 'bower_components/cjs/cjs',
                    'amd-loader': 'bower_components/amd-loader/amd-loader'
                }
            })
            QUnit.config.autostart = false
            require(['test/test'], function () {
                QUnit.start()
            })