doctype html
html
    head
        meta(charset="utf-8")
        title 显示颜色DEMO

        link(rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.15.0.css")
    body
        div.str(style="border: 1px solid #ccc;")
        div.html(style="border: 1px solid #ccc;")


        // 公用组件
        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="https://rawgit.com/seajs/seajs/master/dist/sea.js")



        // 启动代码
        script.
            seajs.use(['./index'], function (index){
                index.init();
            });