doctype html
html
    head
        meta(charset="utf-8")
        title style
        style.
            span {
                display:      inline;
                margin-right: 5px;
                padding:      4px 0;
                line-height:  1.8em;
            }
    body
        div#everything
        script(src="../../node_modules/requirejs/require.js")
        script(src="../unit/config.js")
        script.
            require(['src/index'], function (ShellColor) {
                var div = document.getElementById('everything')
                ShellColor.toBlockTags([
                    'abc',
                    '',
                    '123',
                    '',
                    '',
                    'ggg',
                    'xxx'
                ].join('\n')).forEach(function (tag) {
                    div.appendChild(tag)
                })
            })
